<div class="padded-content">We're building our campfire for next year! Stay tuned for updates about registration.<br>Follow us on <a href="https://www.facebook.com/bitcmp">Facebook</a>, <a href="https://twitter.com/bitcmp">Twitter</a> or <a href="https://instagram.com/bitcamp">Instagram</a> to keep up to date with current events.</div>

<div class="container">
  {% for subsection in section.subsections %}
    {% capture subsection_url %}
      /{{section.name}}/{{subsection.name}}
    {% endcapture %}
    <div class="col-md-4">
      <a href="{{subsection_url | downcase | replace: ' ', ''}}">
        <button class="orange-button">
          {{subsection.name}}
        </button>
      </a>
    </div>
  {% endfor %}
</div>
